<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivy">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>-->
    <!-- Keeps the processor from sleeping when a message is received. -->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" /> Removed after firebase changes-->

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <!--<permission-->
        <!--android:name="com.ivy.permission.C2D_MESSAGE"-->
        <!--android:protectionLevel="signature" />Removed after firebase changes-->

    <!--<uses-permission android:name="com.find_me.permission.C2D_MESSAGE" />Removed after firebase changes-->

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Applicationclass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.google.android.maps"/>
        <activity
            android:name=".Splash_Screen_Activity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_Screen_Activity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        />
        <activity
            android:name=".Sign_Up_Activity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Landing_Activity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Forget_Password"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Pop_up_Sign_Up"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GeneralSetting"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Emergency_Activity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoadStaticPages"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Pop_Up_Forget"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Settings_Activty"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Contact_Us_Activity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity
            android:name=".Add_user_contact"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".AddCountryList"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Add_Phone_User"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Add_App_User"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".My_profile"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Notification_Activity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".My_Alert_Activity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Record_Audio"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ChooseImageActivity"
            android:configChanges="orientation|keyboardHidden|uiMode|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogTheme" />
        <activity
            android:name=".ImagecropingActivity"
            android:configChanges="orientation|keyboardHidden|uiMode|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChangePassword"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.ivymanagedevice.AddDevice"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.ble_connect.DeviceScanActivity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.ivymanagedevice.DeviceDetails"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.ivymanagedevice.DeviceInfoWithBigMap"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- To start the services to get contact from phonebook in background -->
        <service android:name=".ContactServices">
            <intent-filter>
                <action android:name="com.contactOfServices" />
            </intent-filter>
        </service>

        <!-- To get the latitude and longitude -->
        <service android:name="com.globalclasses.SimpleLocation">
            <intent-filter android:priority="1000">
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- GCM -->
        <!--<receiverRemoved after firebase changes-->
            <!--android:name="com.google.android.gms.gcm.GcmReceiver"-->
            <!--android:exported="true"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

                <!--<category android:name="com.ivy" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver
            android:name="com.ble_connect.BluetoothBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!--<service Removed after FCM change-->
            <!--android:name=".MyGcmListenerService"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <service
            android:name=".MyFcmListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9888dc763f3318e277c3e0b6ea1d53d6616a0b12" />

        <!-- Google Map Api Key -->
        <!--<meta-data-->
            <!--android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="AIzaSyDeOSFhDFnqopkp1-AE4U3Zac6iIg6G-cw" />-->
        <!--<meta-data--> from Sumit
            <!--android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="AIzaSyCtwGkFo8vHnKAhy0mz3V9YeYPPjXPRkvw" />-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCBtLEIBebCmbbHXfSLPmU28vGzdeis_0k" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="com.ble_connect.BluetoothLeService"
            android:enabled="true" />

        <receiver android:name=".BleNotificationReceiver">
            <intent-filter>
                <action android:name="ble.taps.notify" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ble_connect.NotifyActivity"
            android:screenOrientation="portrait"
            android:singleUser="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Emergency_Alert_Receiver"
            android:screenOrientation="portrait"
            android:singleUser="true" />
        <activity
            android:name=".AudioSettingActivity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <receiver android:name="com.globalclasses.GpsLocationReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".HelpScreen"
            android:screenOrientation="portrait"
            android:singleUser="true"
            android:theme="@style/Theme.Transparent"></activity>
    </application>

</manifest>